@font-face {
    font-family: "Segoe WP-Semilight";
    src: url(font/SegoeWP-Semilight.ttf) format("truetype");
}
body {
	margin: 0;
	padding: 0;
	min-width: 800px;
}
h1,h2,h3,h4,h5,h6, p {
	margin: 0;
	font-family: "Segoe WP-Semilight",sans-serif ;
}

header, footer, nav ,article, aside, section, .container {	
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #ffffff;

}
header {
	position: relative;
	background-image: url(header5.jpg);
	background-position: 50% top;
	background-repeat: no-repeat;
	height: 370px;
}
header h1{
	font-size: 50px;
	position: absolute;
	top: 15%;
	left: 10%;
	color: white;
	text-shadow: 0 0 6px black
}
footer {

}
nav {
	background: rgb(100,181,234); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(100,181,234,1) 0%, rgba(39,61,100,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(100,181,234,1)), color-stop(100%,rgba(39,61,100,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(100,181,234,1) 0%,rgba(39,61,100,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(100,181,234,1) 0%,rgba(39,61,100,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(100,181,234,1) 0%,rgba(39,61,100,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(100,181,234,1) 0%,rgba(39,61,100,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64b5ea', endColorstr='#273d64',GradientType=1 ); /* IE6-9 */
	background-position: 50% top;
	height: 60px;
}
aside{
	min-width:200px;
	width: 200px;
}
.container {

}
.nav {
	margin: 5px;
	padding: 5px;
}
.nav p{
	font-size: 30px;
	color: #ffffff;
}
.nav p small{
	font-size: 15px;
}
.nav-title{
	height: 40px;
}
img.icon {
	background-image: url(dark/appbar.base.png);
	

}
.place-left {
	height: 40px;
	background-size: 40px;
	float: left !important;
	margin-right: 10px;
}
























/*
p.title {
	font-size: 18px;
	font-weight:bold;
}
p.message {
	font-size: 18px;
}
.list_of_comments {
	min-width: 830px;
	margin: 0 0 30px 0;
	padding: 30px 30px 0 30px;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}
.comment {
	padding: 10px 10px 0 10px;
	min-width: 800px;
	position: relative;
	margin: 0 0 30px 0;
	min-height: 200px;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
			border-radius: 10px;
}
.avatar {
	margin: 10px;
	width: 150px;
	height: 180px;
	position: absolute;
	background-image: url(avatar.jpg);
	background-size: 150px 180px;
	top: 0;
	left: 0;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}
.comment_title {
	padding: 5px 10px 5px 10px;
	margin: 0 260px 10px 160px;
	min-width: 380px;
	max-height: 20px;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}
.comment_message {
	padding: 10px 15px 10px 15px;
	margin: 0 40px 10px 160px;
	min-width: 560px;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
			border-radius: 10px;
}
.comment_close {
	margin: 10px;
	width: 30px;
	height: 30px;
	background-image: url(close_comment.jpg);
	background-size: 30px 30px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: opacity;
	   -moz-transition: opacity;
			transition: opacity;
	-webkit-transition-duration: 0,1s;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}

.comment:hover .comment_close {
	opacity: 1;
}

*/